<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    {% load static %}
    {% load crispy_forms_tags %}
    <title>{% block title%}Blog posts - NTM Fitness{% endblock title%}</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'core/assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'core/assets/css/superstyle.css' %}">

    </head>
    
</head>

<body>
    
     <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    {% block header %}
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'core:index'%}" class="logo">NTM<em> Fitness Club</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#blog-list">Announcements</a></li>
                            <li class="scroll-to-section"><a href="{% url 'core:index' %}#our-classes">Classes</a></li>
                            <li class="main-button"><a href="{% url 'accounts:signup'%}">Sign Up</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    {% endblock header %}
    {% block main_content %}
    {% endblock main_content %}
    {% block footer %}
         <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; NTM Fitness Club
                    
                    - Designed and developed by <a rel="nofollow" href="#" class="tm-text-link" target="_parent">lytyear softworks</a></p>
                    
                    
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'core/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src=" {% static 'core/assets/js/popper.js' %}"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="{% static 'core/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'core/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'core/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'core/assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'core/assets/js/mixitup.js' %}"></script> 
    <script src="{% static 'core/assets/js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'core/assets/js/custom.js' %}"></script>

    {% endblock footer%}
</body>

</html>